# Server Port
PORT=8000

# Database Configuration
DATABASE_URL=your_postgresql_url_here

# S3 Configuration
S3_ENDPOINT_URL=your_s3_endpoint_url_here
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
S3_BUCKET_NAME=your_bucket_name_here

# Recorder Configuration
RECORD_FPS=30
RECORD_AFTER_FIRE_STOPS_SEC=5
PRE_ROLL_BUFFER_SEC=5
RECORDER_TEMP_DIR=/app/recorder_temp
